<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/registration_number.css">

<head>

</head>

<body>

  <body align='center'>
    <div class='footer'>
      {{{body}}}
    </div>
  </body>

</html>
