<h1>Add a registration number</h1>
<a href='/regNumbers'><b>Back Home</b></a>

<form class='' action='/regNumbers/add' method='post'>
  <input type='text' name='regNumber' placeholder="type regnumber here"</input>
<input type='submit' name='' value='Add'></form>
