<html>
<div class='header'>
<h1>Registration Number Web App</h1>

<a href='/regNumbers/add'><b> Add a Registration Number</b></a>
<br>
<br>
</div>
<div class='flash'>
{{#if messages.error}}
  <div class='error'>
    <h2>{{messages.error}}</h2>
  </div>
{{/if}}
{{#if messages.success}}
  <div class='success'>
    <h2>{{messages.success}}</h2>
  </div>
{{/if}}
</div>

<form class='' action='/regNumbers' method='post'>
  <div class='container'>
    <label class='radios'>
    <input type='radio' name='regTown' value='malmesbury'>MALMESBURY
  </label>
    <label class='radios'>
    <input type='radio' name='regTown' value='bellville'>BELLVILLE
  </label>
    <label class='radios'>
    <input type='radio' name='regTown' value='cape town'>CAPE TOWN
  </label>
    <label class='radios'>
  <input type="radio" name="regTown" value="all"> ALL
</label>
<div class='showButton'>
<input type="submit" name="" value="show">
</form>
</div>
</div>

<ul>
  <div class='regNum'>
    {{#each regNumbers}}
      <ul class="regPlates">{{name}}</ul>
    {{/each}}
  </div>
</ul>

</html>
