<h1>Registration Number Web App</h1>

<a href='/regNumbers/add'><b> Add a Registration Number</b></a> 
<ul>
  <div class='regNum'>
  {{#each regNumbers}}
    <ul class="regPlates">{{this}}</ul>
  {{/each}}
</div>
</ul>
